body{
    background-color: black;
    display: block;
    padding-top: 89px;
    background-image:url("../img/baseball_stadium_4060x2680_wallpaper_Wallpaper_4060x2680_www.wallpaperswa.com.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#navbar-inner{
    padding: 9px;
}

#content{
    background-color: black;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin-bottom: 30px;
}

.inning_container{
    display: table;
}

.inning{
    display: table-row;
}

.atbat{
    display: table
}
