body{
    background-color: black;
    display: block;
    padding-top: 89px;
    background-image:url("../img/baseball_stadium_4060x2680_wallpaper_Wallpaper_4060x2680_www.wallpaperswa.com.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#navbar-inner{
    padding: 9px;
}

#content{
    background-color: black;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin-bottom: 30px;
}

.inning_container{
    display: table;
    margin: auto;
    text-align: center;
}

.inning{
    display: table-row;
}

.atbat_container{
    #display: table-cell;
}

.atbat{
    height: 500px;
    background-image: url('../img/home_plate.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.strikezone{
    #border:1px solid black;
    display: inline;
    margin-left: 5%;
}
