{%extends "base.html"%}

{%block title%}{{away}} at {{home}} on {{month}}/{{day}}/{{year}}{%endblock%}
{%block extrastyle%}
<link href="/css/game-view.css" rel="stylesheet">
{%endblock%}

{%block body%}
   <div class="inning_container">
       <h1>{{away}} at {{home}}</h1>

       {%for inning in game_data['innings']%}
           <h2>Inning {{loop.index}}</h2>
           <div class="inning">
               <h3>Top</h3>
               {%for atbat in inning['top']%}
                   <div class="atbat">
                       <h4>
                           {{game_data['away']['players'][atbat['batter']]['first']}} 
                           {{game_data['away']['players'][atbat['batter']]['last']}}
                            hitting against 
                           {{game_data['home']['players'][atbat['pitcher']]['first']}} 
                           {{game_data['home']['players'][atbat['pitcher']]['last']}}
                       </h4>
                       {{atbat['pitches']}}
                   </div>
               {%endfor%}
           </div>

           <div class="inning">
               <h3>Bottom</h3>
               {%for atbat in inning['bottom']%}
                   <div class="atbat">
                       <h4>
                           {{game_data['home']['players'][atbat['batter']]['first']}} 
                           {{game_data['home']['players'][atbat['batter']]['last']}}
                            hitting against 
                           {{game_data['away']['players'][atbat['pitcher']]['first']}} 
                           {{game_data['away']['players'][atbat['pitcher']]['last']}}
                       </h4>
                       {{atbat['pitches']}}
                   </div>
               {%endfor%}
           </div>
       {%endfor%}
   </div>
{%endblock%}
